*{
    margin: 0;
    padding: 0;
}
body{
    font-style: sans-serif !important;
}
.mainDiv{
    padding-top: 5px;
    height: 80px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50px;
    position: absolute;
    margin-right: 250px;
    margin-bottom: 60px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonDiv{
    margin-top: 50px;
}

#alertButton, .bsButton{
    background-color: aqua !important;
    margin: 50px;
    padding: 20px;
    text-decoration: none !important;
    color: black !important;
    border-radius: 10px !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    border: black, 1px, solid !important; 
}

#alertButton:hover, a:hover{
    transform: scale3d(1.10, 1.10, 0.1);
    -webkit-transform: scale3d(1.10, 1.10, 0.1);
    -moz-transform: scale3d(1.10, 1.10, 0.1);
    cursor: pointer;
}

::selection{
    background-color: white !important;
}

img{
    width: 200px;
}

.card-body{
display: flex;
flex-direction: column;
}

.items{
    padding-top: 15px;
}